<% include ./partials/header %> <%- include ./partials/sidebar %> <%- include
./partials/navbar %>

<link href="/assets/css/dataTables.bootstrap4.min.css" />
<style>
  .align {
    width: 50%;
    display: inline-block;
  }
  .r {
    text-align: right;
  }
  .l {
    text-align: left;
  }
  .capt {
    text-transform: capitalize;
  }
</style>

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4 capt">
      <span class="text-muted fw-light">Tables /</span> <%= page_name %>
    </h4>

    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-body">
            <form
              method="post"
              id="form-add"
              action="/reportQuistionnaire/graph"
            >
              <div class="row mb-3">
                <div class="col-md">
                  <label class="form-label" for="date_start">Date Start</label>
                  <input
                    type="date"
                    class="form-control"
                    name="date_start"
                    id="date_start"
                    required
                  />
                </div>
                <div class="col-md">
                  <label class="form-label" for="date_end">Date End</label>
                  <input
                    type="date"
                    class="form-control"
                    name="date_end"
                    id="date_end"
                    required
                  />
                </div>
              </div>

              <button id="in" type="submit" class="btn btn-primary submit">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <%- include ./partials/footer %> <%- include ./partials/js %>
  <script src="/assets/js/jquery-3.5.1.js"></script>
  <script src="/assets/js/dataTables/jquery.dataTables.min.js"></script>
  <script src="/assets/js/dataTables/dataTables.bootstrap4.min.js"></script>
  <!-- <script>
    $(document).ready(function () {
      // $("#example").DataTable({
      //   dom: '<"m-2"<"align l"l><"align r"f>>t<"m-2"<"align l"i><"align r"p>>',
      // });
      var date;
      var oTable = $("#example").DataTable({
        processing: true,
        paging: false,
        serverSide: true,
        // dom: "Bfrtip",
        dom: '<"m-2"<"align l"l><"align r"f>>t<"m-2"<"align l"i><"align r"p>>',
        responsive: true,
        lengthChange: false,
        autoWidth: true,
        serverMethod: "get",
        ajax: {
          url: "/doorprize/getdata",
          data: function (d) {
            // Retrieve dynamic parameters
            var dt_params = $("#example").data("dt_params");
            // Add dynamic parameters to the data object sent to the server
            if (dt_params) {
              $.extend(d, dt_params);
            }
          },
        },
        fnCreatedRow: function (row, data, index) {
          $("td", row)
            .eq(0)
            .html(index + 1);
        },
        columns: [
          {
            data: "id",
            name: "id",
          },
          {
            data: "detail_s_j.date_sj",
            name: "detail_s_j.date_sj",
          },
          {
            data: "detail_s_j.nosj",
            name: "detail_s_j.nosj",
          },
          {
            data: "part.customer.code",
            name: "part.customer.code",
          },
        ],
      });
      $("#in").on("click", function () {
        console.log($("#date_start").val());
        $("#example").data("dt_params", {
          cust_id: $("#cust_id").val(),
          // date_st: date[0],
          // date_ot: date[1],
          type: $("#type").val(),
          part_id: $("#part_id").val(),
        });
        $("#example").DataTable().draw();
      });
    });

    $(document).on("click", "#detail", function (e) {
      e.preventDefault();
      var uid = $(this).data("id");
      reset_form($(this).data("form"));
      //   console.log(uid);
      $.ajax({
        url: "ruangan/detail",
        method: "POST",
        data: { id: uid, action: "fetch" },
        dataType: "JSON",
        success: function (data) {
          console.log(data);
          $("#id").val(data.id);
          $("#nama_ruangan").val(data.nama_ruangan);
          $("#keterangan").val(data.keterangan);

          $("#saveButton").attr("data-act", "update");
          $("#labelModal").text("Update User");

          $("#basicModal").modal("show");
        },
      });
    });

    $(document).on("click", "#addButton", function (e) {
      e.preventDefault();
      reset_form($(this).data("form"));
      //   console.log(uid);
      $("#labelModal").text("Add Ruangan");
      $("#saveButton").attr("data-act", "add");
      $("#saveButton").show();

      $("#basicModal").modal("show");
    });

    $("#formAdd").on("submit", function (e) {
      e.preventDefault();
      var status = $("#saveButton").data("act");
      // console.log($("#saveButton").data("act"));
      if (status == "add") {
        $.ajax({
          url: "ruangan/create",
          method: "POST",
          data: $("#formAdd").serialize(),
          dataType: "JSON",
          beforeSend: function () {
            $("#saveButton").attr("disabled", "disabled");
          },
          success: function (data) {
            $("#saveButton").attr("disabled", false);
            $("#message").html(
              '<div class="alert alert-success">' + data.message + "</div>"
            );
            $("#basicModal").modal("hide");
            window.location.reload();
            setTimeout(function () {
              $("#message").html("");
            }, 5000);
          },
        });
      }
      if (status == "update") {
        $.ajax({
          url: "ruangan/update",
          method: "POST",
          data: $("#formAdd").serialize(),
          dataType: "JSON",
          beforeSend: function () {
            $("#saveButton").attr("disabled", "disabled");
          },
          success: function (data) {
            $("#saveButton").attr("disabled", false);
            $("#message").html(
              '<div class="alert alert-success">' + data.message + "</div>"
            );
            $("#basicModal").modal("hide");
            window.location.reload();
            setTimeout(function () {
              $("#message").html("");
            }, 5000);
          },
        });
      }
    });

    $(document).on("click", "#delete", function () {
      var id = $(this).data("id");

      if (confirm("Are you sure you want to delete this data?")) {
        $.ajax({
          url: "ruangan/delete",
          method: "POST",
          data: { id: id },
          dataType: "JSON",
          success: function (data) {
            $("#message").html(
              '<div class="alert alert-success">' + data.message + "</div>"
            );
            window.location.reload();
            setTimeout(function () {
              $("#message").html("");
            }, 5000);
          },
        });
      }
    });
  </script> -->
</div>
